.example-card {
  max-width: 400px;
  min-height: 595px;
  border-top: 1px solid beige;
}

.example-header-image {
  background-size: cover;
  border: 1px solid lightgray;
}

.mat-mdc-card-image {
  width: 400px;
  height: 320px;
  object-fit: cover;
  border: 1px solid lightgray;
}

.card-title {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.mat-mdc-card-content {
  text-align: left;
}

.mat-mdc-card-actions {
  margin: 0 auto
}

.card-footer-text {
  font-size: 0.8rem;
  color: gray
}