.search-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.search-container mat-form-field {
  width: 220px;
}

.search-container form {
  margin-bottom: 20px;
}

.search-container form>* {
  margin: 12px 0;
}

.search-form-fields {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-q {
  width: 30% !important;
}

.submit-button {
  margin-left: 10px;
}